$btnTextColor: #fff;
$btnBgColor: $brand;
// $btnIconColor: #29447E;

$googlePlusBtnColor: #DB4A37;

$linkedInBtnColor: rgb(10, 102, 194);

$meetupBtnColor: #ff4a79;

.link {
	text-decoration: none;
	color: $btnTextColor;
	background-color: $btnBgColor;
	line-height: 1em;
	padding: 1rem 4.25rem 1rem 1rem;
	display: inline-block;
	position: relative;
	margin: 0.5rem;

	font-size: 0.7rem;

	@media(min-width: 700px) {
		font-size: 1.25rem;
		margin: 1rem;
	}

	&:hover {
		text-decoration: none;
		color: $btnTextColor;
		background-color: lighten($btnBgColor, 10);
	}
}

.wrapper .link {
	margin-left: auto;
	margin-right: auto;
}

.link__icon {
	background-color: darken($btnBgColor, 10);

	height: 2.7rem;
	width: 2.7rem;
	padding: 0.75rem;
	fill: #fff;

	@media(min-width: 700px) {
		height: 3.25rem;
		width: 3.25rem;
	}

	position: absolute;
	right: 0;
	top: 0;

	&:hover {
		// color: darken($btnTextColor, 10);
		background-color: $btnBgColor;						// lighten(10) and darken(10) cancel each other
	}
}

.link:hover .link__icon {
	background-color: $btnBgColor;							// lighten(10) and darken(10) cancel each other
}

.link--big {
    min-width: 13rem;
}

.link--linkedin {
	background-color: $linkedInBtnColor;

	.link__icon {
		background-color: darken($linkedInBtnColor, 10);
	}

	&:hover {
		background-color: lighten($linkedInBtnColor, 10);

		.link__icon {
			background-color: $linkedInBtnColor;				// lighten(10) and darken(10) cancel each other
		}
	}
}


.link--meetup {
	background-color: $meetupBtnColor;

	.link__icon {
		background-color: darken($meetupBtnColor, 10);
	}

	&:hover {
		background-color: lighten($meetupBtnColor, 10);

		.link__icon {
			background-color: $meetupBtnColor;				// lighten(10) and darken(10) cancel each other
		}
	}
}
