---
layout: default
---

{% assign post = site.termin | last -%}

{% assign buildTimeInSecondsInEpoch = site.time | date: "%s" | plus: 0 -%}
{% assign terminTimeInSecondsInEpoch = post.startDateIso8601 | date: "%s" | plus: 0 -%}
{% assign terminEnded = false -%}
{% if terminTimeInSecondsInEpoch < buildTimeInSecondsInEpoch -%}
{% assign terminEnded = true -%}
{% endif -%}


<main itemscope itemtype="https://schema.org/Event">
	{% include masthead.html ended=terminEnded -%}
	<div class="wrapper">
		{% unless terminEnded -%}
		{% if post.location -%}
		{% include location.html location=post.location -%}
		{% endif -%}

		{% if post.sponsor -%}
		<h2 id="sponsoring">Sponsoring</h2>
		<p>
			Vielen Dank an {{ post.sponsor }} für die Verpflegung!
		</p>
		{% endif -%}

		{% endunless -%}

		<h2 id="info">Info</h2>

		<aside itemprop="description">
			{% capture desc %}{% include description.md %}{% endcapture %}
			{{ desc | markdownify }}
		</aside>

		<h2 id="previous-events">Vorherige Termine</h2>

		<div class="cards">
			{% assign counter = 0 -%}
			{% for card in site.termin reversed -%}
				{% assign now = site.time | date: "%s" | plus: 0 %}
				{% assign eventStart = card.startDateIso8601 | date: "%s" | plus: 0 %}
				{% if card.layout == "post" and eventStart < now and counter < 6 -%}
					{% assign counter = counter | plus: 1 -%}
					{% include termin-card.html -%}
				{% endif -%}
			{% endfor -%} 
		</div>
		<a href="/archiv/" class="link">
			Zum Archiv
			<svg class="link__icon">
				<use xlink:href="#icon-books"></use>
			</svg>
		</a>
	</div>
</main>
